@font-face {
  font-family: 'Retro';
  src: url(./fonts/Retro\ Gaming.ttf) format('truetype');
}

body {
  background: linear-gradient(
    180deg,
    rgba(5, 10, 29, 1) 28%,
    rgba(34, 52, 92, 1) 70%
  );
  background-color: rgba(34, 52, 92, 1);
  min-height: 100vh;
  color: white;
  font-family: 'Retro';
}
